
.notary-verify-button {
    margin-left: 10px;
}

.crowd-owned-details .label {
  display: inline-block;
  width: 9em;
}

.crowd-owned-details .balance {
  margin-left: 1em;
}

.listing-block{
  background: #fff;
  height: 500px;
  padding-top: 20px;
  overflow-y: scroll;
}
.media {
  background: #fff;
  position: relative;
  margin-bottom: 15px;
}
.media img{
  float: left;
  width: 160px;
  margin: 0;
}
.media-body{
  border: 1px solid #bcbcbc;
  border-left: 0;
  height: 136px;
  padding-left: 0.5em;
}

.media .price{
  float:left;
  width: 100%;
  font-size: 1.75em;
  font-weight:600;
}
.media .price small{
  display:block;
  font-size:.75em;
}
