
.notary-verify-button {
  margin-left: 10px;
}

.crowd-owned-details .label {
  display: inline-block;
  width: 9em;
}

.crowd-owned-details .balance {
  margin-left: 1em;
}

.listing-block{
  background: #fff;
  padding-top: 20px;
/*
  height: 500px;
  overflow-y: scroll;
*/
}
.media {
  background: #fff;
  position: relative;
  margin-bottom: 15px;
}
.media img{
  float: left;
  width: 160px;
  margin: 0;
}
.media-body{
  border: 1px solid #bcbcbc;
  border-left: 0;
  border-right: 0;
  height: 136px;
  padding-left: 0.5em;
}

.media .price{
  float:left;
  width: 100%;
  font-size: 1.75em;
  font-weight:600;
}
.media .price small{
  display:block;
  font-size:.75em;
}

.navbar {
  margin-bottom: 0;
}

.home-header {
  background-image: url(https://blandlord.com/static/img/bg/bg-utrecht.jpg);
}
.jumbotron {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}
.jumbotron h1 {
}